<div class="grid-container">
    <div class="card">
      <mat-card class="example-card">
        <mat-card-header class="custom-header" style="background-color: #d5ffa3">
          <mat-card-title class="custom-title" class="custom-title">Bruschetta</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="assets/imgs/bruschetta.png"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            É uma delícia italiana feita com pão torrado, esfregado com alho, e
            coberto com tomate maduro, azeite de oliva e manjericão fresco. É
            uma mistura simples, mas que faz uma combinação incrível de sabores
            e texturas. Cada mordida é uma explosão de gostos que vale a pena
            experimentar!
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="card">
      <mat-card class="example-card">
        <mat-card-header class="custom-header" style="background-color: #d5ffa3">
          <mat-card-title class="custom-title">Risoto</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="assets/imgs/risoto.png"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            É um prato italiano feito com arroz cozido em caldo até ficar
            cremoso, geralmente com ingredientes como queijo, vinho branco e
            outros adicionados para dar sabor. É uma mistura rica e
            reconfortante que destaca a textura macia do arroz.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="card">
      <mat-card class="example-card">
        <mat-card-header class="custom-header" style="background-color: #d5ffa3">
          <mat-card-title class="custom-title">Salada de arroz</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="assets/imgs/salada.png"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            É uma opção refrescante e saudável, com arroz misturado a legumes
            frescos, ervas e, às vezes, proteínas como frango desfiado. É uma
            alternativa leve e nutritiva para uma refeição equilibrada.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="card">
      <mat-card class="example-card">
        <mat-card-header class="custom-header" style="background-color: #d5ffa3">
          <mat-card-title class="custom-title">Sopa de arroz com legumes</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="assets/imgs/sopa.png"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            É uma saborosa combinação de arroz, legumes variados e caldo,
            proporcionando uma mistura reconfortante e nutritiva. É uma opção
            aquecedora para os dias mais frios.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="card">
      <mat-card class="example-card">
        <mat-card-header class="custom-header" style="background-color: #d5ffa3">
          <mat-card-title class="custom-title">Arroz integral com frango grelhado e pure de
            abóbora</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="assets/imgs/arroz.png"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            É uma refeição equilibrada, apresentando arroz integral, frango
            grelhado para a proteína e purê de abóbora para um toque doce e
            cremoso. Uma combinação saudável e reconfortante.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="card">
      <mat-card class="example-card">
        <mat-card-header class="custom-header" style="background-color: #d5ffa3">
          <mat-card-title class="custom-title">Burrito</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="assets/imgs/burrito.png"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            É um prato mexicano que consiste em uma tortilha enrolada,
            geralmente recheada com arroz, feijão, carne (como frango ou carne
            moída), queijo, alface e outros ingredientes a gosto. É uma opção
            prática e deliciosa, oferecendo uma explosão de sabores em cada
            mordida.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

