footer {
  background-color: #7FB73F;
  height: 100px;
  justify-content: space-between;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Quicksand', sans-serif;
}

.img-logo {
  width: 100px;
  margin-left: 75px;
  margin-top: 20px;
}

footer p {
  text-align: right;
  margin: -20px 75px 26px 15px;
  font-size: 15px;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Quicksand', sans-serif;
}
